# ===== Large CAD / 3D Files =====
*.stl
*.step
*.3mf

# ===== Archives =====
*.zip
*.rar
*.7z

# ===== Firmware / Build Outputs =====
*.bin
*.elf
*.map
*.hex

# ===== Build Folders =====
Debug/
Release/
build/

# ===== IDE Files =====
.vscode/
.settings/
.metadata/

# ===== OS Files =====
Thumbs.db
.DS_Store